body {
  background-color: antiquewhite;
}

.title {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 80px;
}

#scoreText {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 50px;
}

#scoreNum {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 50px;
}

#roll {
  display: block;
  position: relative;
  top: auto;
  left: 28.5em;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 30px;
}

#dice {
  position: relative;
  top: auto;
  left: 55.4em;
}
