body {
  background-color: antiquewhite;
}

.title {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 80px;
}

#scoreText {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 50px;
}

#scoreNum {
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 50px;
}

#roll {
  display: block;
  margin: auto 1200px;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 30px;
}

#dice {
  display: flex;
  align-items: center;
  margin: auto 1210px;
}
